{
  "presets": [
    ["@babel/preset-env", {
      "targets": {"node": 9},
      "modules": false
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h"
    }]
  ]
}
